.mobileNavWrapper {
    transition: height .5s ease-in-out;
    width: 100%;
    background-color: #FFF;
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__navIconContainer {
        position: absolute;
        top: 12px;
        left: 12px;
        height: 50px;
        width: 50px;
        div {
            transition: opacity .5s ease-in-out;
        }
    }
    &__dropdown {
        transition: margin-top .5s ease-in-out, opacity .2s ease-in;
        width: 100%;
        height: auto;
        z-index: 2;
        position: absolute;
        background-color: rgb(255, 255, 255);
        ul {
            transition: margin-left .5s ease-in-out, opacity .2s ease-in;
            li {
                padding: 10px;
                font-family: 'Raleway', 'sans-serif';
                border-top: 1px solid #DCDCDC;
            }
        }
    }
}

.desktopNavWrapper {
    transition: height .5s ease-in-out;
    &__logo {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid red;
    }
    &__dropDown {
        width: 100%;
        height: 80px;
        position: absolute;
        top: 30px;
        ul {
            display: flex;
            flex-direction: row-reverse;
            li {
                font-family: 'Raleway', 'sans-serif';
                padding-right: 30px;
                font-size: 20px;
                cursor: pointer;
            }
            li:hover {
                color: rgb(54, 202, 232);
            }
        }
    }
}


